body {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
    font-size: 11px;
    padding: 0;
    margin: 0;
    transition: background-color .5s ease-in-out;
}

#details-view {
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    padding: 32px;
}

h1, a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

h5 {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

span {
    font-weight: 700;
}

li {
    margin: 4px 0;
}

button {
    font-weight: 700;
    margin: 0 4px 4px 0;
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 2px;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}

button:active {
    color: white;
    background-color: #0c66ff;
}

button:disabled, button:disabled:hover, button:disabled:active {
    cursor: not-allowed;
    color: rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,.5);
}

#custom-colors button {
    background-color: #333;
    color: white;
}

#custom-colors button:hover {
    background-color: #666;
}

#custom-colors button:active {
    background-color: #555;
}

#start-screen {
    max-width: 272px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-button {
    margin: 0 auto;
}

#noise-details {
    position: absolute;
    bottom: 48px;
    width: calc(100% - 64px);
}

@media only screen and (max-width: 767px) {
    #shortcuts {
        display: none;
    }
}

#tone-slider {
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    height: 8px;
    width: calc(100% - 16px);
}

#custom-handle {
    width: 32px;
    height: 32px;
    margin-top: -8px;
    border-radius: 100%;
    border: none;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#custom-handle:hover {
    background-color: #b2b2b2;
}

#custom-handle:active {
    background-color: #0c66ff;
    cursor: pointer;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
